.header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20rem;
    grid-column-gap: 10px;
}

.header-container h1 {
    font-size: 25px;
    color: blue;
}
.header-text-container p {
    font-size: 25px;
    font-style: italic;
    color: brown;
}

.header-image-container {
    grid-area: 1 / 1 / 2 / 2;
}
.header-text-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-title {
    font-size: 1.6rem;
    text-wrap: wrap;
}
.header-subtitle {
    font-size: 1.2rem;
    text-wrap: wrap;
}
.logo-image {
    width: 70px;
    height: 76px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}






