* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: beige;
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
}
h1 {
    color: blue;
}
h2 {
    color: brown;
}
footer p {
    color: green;
}